{
	"swagger": "2.0",
	"info": {
		"title": "Dynamics 365 Business Central",
		"description": "Business Central Standard APIs",
		"version": "1.0.0"
	},
	"host": "api.businesscentral.dynamics.com",
	"basePath": "/v1.0/api/v1.0",
	"schemes": [
		"https"
	],
	"paths": {
		"/companies": {
			"get": {
				"tags": [
					"companies"
				],
				"summary": "Returns a list of companies",
				"operationId": "getCompanies",
				"produces": [
					"application/json"
				],
				"parameters": [
					{
						"$ref": "#/parameters/topParam"
					},
					{
						"$ref": "#/parameters/skipParam"
					},
					{
						"$ref": "#/parameters/limitParam"
					},
					{
						"$ref": "#/parameters/filterParam"
					},
					{
						"in": "query",
						"name": "$select",
						"type": "array",
						"items": {
							"enum": [
								"id",
								"systemVersion",
								"name",
								"displayName",
								"businessProfileId"
							],
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Succesfully returned a list of companies",
						"schema": {
							"type": "object",
							"properties": {
								"value": {
									"type": "array",
									"items": {
										"$ref": "#/definitions/company"
									}
								}
							}
						}
					}
				}
			}
		},
		"/companies({company_id})": {
			"get": {
				"tags": [
					"companies"
				],
				"summary": "Obtain information about the company from its unique company_id",
				"operationId": "getCompanyById",
				"produces": [
					"application/json"
				],
				"responses": {
					"200": {
						"description": "Succesfully returned the requested company",
						"schema": {
							"$ref": "#/definitions/company"
						}
					}
				}
			},
			"parameters": [
				{
					"in": "path",
					"name": "company_id",
					"description": "id for company",
					"required": true,
					"type": "string",
					"format": "uuid"
				},
				{
					"in": "query",
					"name": "$select",
					"type": "array",
					"items": {
						"enum": [
							"id",
							"systemVersion",
							"name",
							"displayName",
							"businessProfileId"
						],
						"type": "string"
					}
				}
			]
		},
		"/companies({company_id})/items": {
			"get": {
				"tags": [
					"items"
				],
				"summary": "Returns a list of items",
				"operationId": "getItems",
				"produces": [
					"application/json"
				],
				"parameters": [
					{
						"$ref": "#/parameters/topParam"
					},
					{
						"$ref": "#/parameters/skipParam"
					},
					{
						"$ref": "#/parameters/limitParam"
					},
					{
						"$ref": "#/parameters/filterParam"
					},
					{
						"in": "query",
						"name": "$expand",
						"type": "array",
						"items": {
							"enum": [
								"picture",
								"defaultDimensions",
								"itemCategory"
							],
							"type": "string"
						}
					},
					{
						"in": "query",
						"name": "$select",
						"type": "array",
						"items": {
							"enum": [
								"id",
								"number",
								"displayName",
								"type",
								"itemCategoryId",
								"itemCategoryCode",
								"blocked",
								"baseUnitOfMeasureId",
								"baseUnitOfMeasure",
								"gtin",
								"inventory",
								"unitPrice",
								"priceIncludesTax",
								"unitCost",
								"taxGroupId",
								"taxGroupCode",
								"lastModifiedDateTime"
							],
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Succesfully returned a list of items",
						"schema": {
							"type": "object",
							"properties": {
								"value": {
									"type": "array",
									"items": {
										"$ref": "#/definitions/item"
									}
								}
							}
						}
					}
				}
			},
			"post": {
				"tags": [
					"items"
				],
				"summary": "Lets a user post a new item",
				"operationId": "postItem",
				"consumes": [
					"application/json"
				],
				"produces": [
					"application/json"
				],
				"parameters": [
					{
						"in": "body",
						"name": "body",
						"required": true,
						"schema": {
							"properties": {
								"id": {
									"format": "uuid",
									"type": "string"
								},
								"number": {
									"maxLength": 20,
									"type": "string"
								},
								"displayName": {
									"maxLength": 100,
									"type": "string"
								},
								"type": {
									"type": "string"
								},
								"itemCategoryId": {
									"format": "uuid",
									"type": "string"
								},
								"itemCategoryCode": {
									"maxLength": 20,
									"type": "string"
								},
								"blocked": {
									"type": "boolean"
								},
								"baseUnitOfMeasureId": {
									"format": "uuid",
									"type": "string"
								},
								"baseUnitOfMeasure": {
									"$ref": "#/definitions/unitofmeasuretype"
								},
								"gtin": {
									"maxLength": 14,
									"type": "string"
								},
								"inventory": {
									"format": "decimal",
									"type": "number"
								},
								"unitPrice": {
									"format": "decimal",
									"type": "number"
								},
								"priceIncludesTax": {
									"type": "boolean"
								},
								"unitCost": {
									"format": "decimal",
									"type": "number"
								},
								"taxGroupId": {
									"format": "uuid",
									"type": "string"
								},
								"taxGroupCode": {
									"maxLength": 20,
									"type": "string"
								},
								"lastModifiedDateTime": {
									"format": "date-time",
									"type": "string"
								}
							}
						}
					}
				],
				"responses": {
					"201": {
						"description": "item succesfully created",
						"schema": {
							"$ref": "#/definitions/item"
						}
					}
				}
			},
			"parameters": [
				{
					"in": "path",
					"name": "company_id",
					"description": "id for company",
					"required": true,
					"type": "string",
					"format": "uuid"
				}
			]
		},
		"/companies({company_id})/items({item_id})": {
			"get": {
				"tags": [
					"items"
				],
				"summary": "Obtain information about the item from its unique item_id",
				"operationId": "getItemById",
				"produces": [
					"application/json"
				],
				"responses": {
					"200": {
						"description": "Succesfully returned the requested item",
						"schema": {
							"$ref": "#/definitions/item"
						}
					}
				}
			},
			"delete": {
				"tags": [
					"items"
				],
				"summary": "Allows the user to delete the specified item",
				"operationId": "deleteItemById",
				"responses": {
					"204": {
						"description": "Succesfully deleted the item with the specified item_id"
					}
				}
			},
			"patch": {
				"tags": [
					"items"
				],
				"summary": "Lets the user patch the specified item",
				"operationId": "patchItemById",
				"consumes": [
					"application/json"
				],
				"produces": [
					"application/json"
				],
				"parameters": [
					{
						"$ref": "#/parameters/IfMatchParam"
					},
					{
						"in": "body",
						"name": "body",
						"required": true,
						"schema": {
							"properties": {
								"id": {
									"format": "uuid",
									"type": "string"
								},
								"number": {
									"maxLength": 20,
									"type": "string"
								},
								"displayName": {
									"maxLength": 100,
									"type": "string"
								},
								"type": {
									"type": "string"
								},
								"itemCategoryId": {
									"format": "uuid",
									"type": "string"
								},
								"itemCategoryCode": {
									"maxLength": 20,
									"type": "string"
								},
								"blocked": {
									"type": "boolean"
								},
								"baseUnitOfMeasureId": {
									"format": "uuid",
									"type": "string"
								},
								"baseUnitOfMeasure": {
									"$ref": "#/definitions/unitofmeasuretype"
								},
								"gtin": {
									"maxLength": 14,
									"type": "string"
								},
								"inventory": {
									"format": "decimal",
									"type": "number"
								},
								"unitPrice": {
									"format": "decimal",
									"type": "number"
								},
								"priceIncludesTax": {
									"type": "boolean"
								},
								"unitCost": {
									"format": "decimal",
									"type": "number"
								},
								"taxGroupId": {
									"format": "uuid",
									"type": "string"
								},
								"taxGroupCode": {
									"maxLength": 20,
									"type": "string"
								},
								"lastModifiedDateTime": {
									"format": "date-time",
									"type": "string"
								}
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Succesfully updated the item with the specified item_id",
						"schema": {
							"$ref": "#/definitions/item"
						}
					}
				}
			},
			"parameters": [
				{
					"in": "path",
					"name": "company_id",
					"description": "id for company",
					"required": true,
					"type": "string",
					"format": "uuid"
				},
				{
					"in": "path",
					"name": "item_id",
					"description": "id for item",
					"required": true,
					"type": "string",
					"format": "uuid"
				},
				{
					"in": "query",
					"name": "$expand",
					"type": "array",
					"items": {
						"enum": [
							"picture",
							"defaultDimensions",
							"itemCategory"
						],
						"type": "string"
					}
				},
				{
					"in": "query",
					"name": "$select",
					"type": "array",
					"items": {
						"enum": [
							"id",
							"number",
							"displayName",
							"type",
							"itemCategoryId",
							"itemCategoryCode",
							"blocked",
							"baseUnitOfMeasureId",
							"baseUnitOfMeasure",
							"gtin",
							"inventory",
							"unitPrice",
							"priceIncludesTax",
							"unitCost",
							"taxGroupId",
							"taxGroupCode",
							"lastModifiedDateTime"
						],
						"type": "string"
					}
				}
			]
		},
		"/companies({company_id})/items({item_id})/picture": {
			"get": {
				"tags": [
					"picture"
				],
				"summary": "Returns a list of picture",
				"operationId": "getPictureForItem",
				"produces": [
					"application/json"
				],
				"parameters": [
					{
						"$ref": "#/parameters/topParam"
					},
					{
						"$ref": "#/parameters/skipParam"
					},
					{
						"$ref": "#/parameters/limitParam"
					},
					{
						"$ref": "#/parameters/filterParam"
					},
					{
						"in": "query",
						"name": "$select",
						"type": "array",
						"items": {
							"enum": [
								"id",
								"width",
								"height",
								"contentType",
								"content"
							],
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Succesfully returned a list of picture",
						"schema": {
							"type": "object",
							"properties": {
								"value": {
									"type": "array",
									"items": {
										"$ref": "#/definitions/picture"
									}
								}
							}
						}
					}
				}
			},
			"parameters": [
				{
					"in": "path",
					"name": "company_id",
					"description": "id for company",
					"required": true,
					"type": "string",
					"format": "uuid"
				},
				{
					"in": "path",
					"name": "item_id",
					"description": "id for item",
					"required": true,
					"type": "string",
					"format": "uuid"
				}
			]
		},
		"/companies({company_id})/items({item_id})/picture({picture_id})": {
			"get": {
				"tags": [
					"picture"
				],
				"summary": "Obtain information about the picture from its unique picture_id",
				"operationId": "getPictureForItemById",
				"produces": [
					"application/json"
				],
				"responses": {
					"200": {
						"description": "Succesfully returned the requested picture",
						"schema": {
							"$ref": "#/definitions/picture"
						}
					}
				}
			},
			"delete": {
				"tags": [
					"picture"
				],
				"summary": "Allows the user to delete the specified picture",
				"operationId": "deletePictureForItemByIdById",
				"responses": {
					"204": {
						"description": "Succesfully deleted the picture with the specified picture_id"
					}
				}
			},
			"patch": {
				"tags": [
					"picture"
				],
				"summary": "Lets the user patch the specified picture",
				"operationId": "patchPictureForItemByIdById",
				"consumes": [
					"application/json"
				],
				"produces": [
					"application/json"
				],
				"parameters": [
					{
						"$ref": "#/parameters/IfMatchParam"
					},
					{
						"in": "body",
						"name": "body",
						"required": true,
						"schema": {
							"properties": {
								"id": {
									"format": "uuid",
									"type": "string"
								},
								"width": {
									"format": "int32",
									"type": "integer"
								},
								"height": {
									"format": "int32",
									"type": "integer"
								},
								"contentType": {
									"maxLength": 100,
									"type": "string"
								},
								"content": {
									"format": "binary",
									"type": "string"
								}
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Succesfully updated the picture with the specified picture_id",
						"schema": {
							"$ref": "#/definitions/picture"
						}
					}
				}
			},
			"parameters": [
				{
					"in": "path",
					"name": "company_id",
					"description": "id for company",
					"required": true,
					"type": "string",
					"format": "uuid"
				},
				{
					"in": "path",
					"name": "item_id",
					"description": "id for item",
					"required": true,
					"type": "string",
					"format": "uuid"
				},
				{
					"in": "path",
					"name": "picture_id",
					"description": "id for picture",
					"required": true,
					"type": "string",
					"format": "uuid"
				},
				{
					"in": "query",
					"name": "$select",
					"type": "array",
					"items": {
						"enum": [
							"id",
							"width",
							"height",
							"contentType",
							"content"
						],
						"type": "string"
					}
				}
			]
		},
		"/companies({company_id})/items({item_id})/defaultDimensions": {
			"get": {
				"tags": [
					"defaultDimensions"
				],
				"summary": "Returns a list of defaultDimensions",
				"operationId": "getDefaultDimensionsForItem",
				"produces": [
					"application/json"
				],
				"parameters": [
					{
						"$ref": "#/parameters/topParam"
					},
					{
						"$ref": "#/parameters/skipParam"
					},
					{
						"$ref": "#/parameters/limitParam"
					},
					{
						"$ref": "#/parameters/filterParam"
					},
					{
						"in": "query",
						"name": "$expand",
						"type": "array",
						"items": {
							"enum": [
								"account",
								"dimension",
								"dimensionValue"
							],
							"type": "string"
						}
					},
					{
						"in": "query",
						"name": "$select",
						"type": "array",
						"items": {
							"enum": [
								"parentId",
								"dimensionId",
								"dimensionCode",
								"dimensionValueId",
								"dimensionValueCode",
								"postingValidation"
							],
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Succesfully returned a list of defaultDimensions",
						"schema": {
							"type": "object",
							"properties": {
								"value": {
									"type": "array",
									"items": {
										"$ref": "#/definitions/defaultDimensions"
									}
								}
							}
						}
					}
				}
			},
			"post": {
				"tags": [
					"defaultDimensions"
				],
				"summary": "Lets a user post a new defaultDimensions",
				"operationId": "postDefaultDimensionsForItem",
				"consumes": [
					"application/json"
				],
				"produces": [
					"application/json"
				],
				"parameters": [
					{
						"in": "body",
						"name": "body",
						"required": true,
						"schema": {
							"properties": {
								"parentId": {
									"format": "uuid",
									"type": "string"
								},
								"dimensionId": {
									"format": "uuid",
									"type": "string"
								},
								"dimensionCode": {
									"maxLength": 20,
									"type": "string"
								},
								"dimensionValueId": {
									"format": "uuid",
									"type": "string"
								},
								"dimensionValueCode": {
									"maxLength": 20,
									"type": "string"
								},
								"postingValidation": {
									"type": "string"
								}
							}
						}
					}
				],
				"responses": {
					"201": {
						"description": "defaultDimensions succesfully created",
						"schema": {
							"$ref": "#/definitions/defaultDimensions"
						}
					}
				}
			},
			"parameters": [
				{
					"in": "path",
					"name": "company_id",
					"description": "id for company",
					"required": true,
					"type": "string",
					"format": "uuid"
				},
				{
					"in": "path",
					"name": "item_id",
					"description": "id for item",
					"required": true,
					"type": "string",
					"format": "uuid"
				}
			]
		},
		"/companies({company_id})/items({item_id})/defaultDimensions({defaultDimensions_parentId},{defaultDimensions_dimensionId})": {
			"get": {
				"tags": [
					"defaultDimensions"
				],
				"summary": "Obtain information about the defaultDimensions from its unique defaultDimensions_parentId, defaultDimensions_dimensionId",
				"operationId": "getDefaultDimensionsForItemByDimensionIdByParentId",
				"produces": [
					"application/json"
				],
				"responses": {
					"200": {
						"description": "Succesfully returned the requested defaultDimensions",
						"schema": {
							"$ref": "#/definitions/defaultDimensions"
						}
					}
				}
			},
			"delete": {
				"tags": [
					"defaultDimensions"
				],
				"summary": "Allows the user to delete the specified defaultDimensions",
				"operationId": "deleteDefaultDimensionsForItemByDimensionIdByParentIdById",
				"responses": {
					"204": {
						"description": "Succesfully deleted the defaultDimensions with the specified defaultDimensions_parentId, defaultDimensions_dimensionId"
					}
				}
			},
			"patch": {
				"tags": [
					"defaultDimensions"
				],
				"summary": "Lets the user patch the specified defaultDimensions",
				"operationId": "patchDefaultDimensionsForItemByDimensionIdByParentIdById",
				"consumes": [
					"application/json"
				],
				"produces": [
					"application/json"
				],
				"parameters": [
					{
						"$ref": "#/parameters/IfMatchParam"
					},
					{
						"in": "body",
						"name": "body",
						"required": true,
						"schema": {
							"properties": {
								"parentId": {
									"format": "uuid",
									"type": "string"
								},
								"dimensionId": {
									"format": "uuid",
									"type": "string"
								},
								"dimensionCode": {
									"maxLength": 20,
									"type": "string"
								},
								"dimensionValueId": {
									"format": "uuid",
									"type": "string"
								},
								"dimensionValueCode": {
									"maxLength": 20,
									"type": "string"
								},
								"postingValidation": {
									"type": "string"
								}
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Succesfully updated the defaultDimensions with the specified defaultDimensions_parentId, defaultDimensions_dimensionId",
						"schema": {
							"$ref": "#/definitions/defaultDimensions"
						}
					}
				}
			},
			"parameters": [
				{
					"in": "path",
					"name": "company_id",
					"description": "id for company",
					"required": true,
					"type": "string",
					"format": "uuid"
				},
				{
					"in": "path",
					"name": "item_id",
					"description": "id for item",
					"required": true,
					"type": "string",
					"format": "uuid"
				},
				{
					"in": "path",
					"name": "defaultDimensions_parentId",
					"description": "parentId for defaultDimensions",
					"required": true,
					"type": "string",
					"format": "uuid"
				},
				{
					"in": "path",
					"name": "defaultDimensions_dimensionId",
					"description": "dimensionId for defaultDimensions",
					"required": true,
					"type": "string",
					"format": "uuid"
				},
				{
					"in": "query",
					"name": "$expand",
					"type": "array",
					"items": {
						"enum": [
							"account",
							"dimension",
							"dimensionValue"
						],
						"type": "string"
					}
				},
				{
					"in": "query",
					"name": "$select",
					"type": "array",
					"items": {
						"enum": [
							"parentId",
							"dimensionId",
							"dimensionCode",
							"dimensionValueId",
							"dimensionValueCode",
							"postingValidation"
						],
						"type": "string"
					}
				}
			]
		},
		"/companies({company_id})/picture": {
			"get": {
				"tags": [
					"picture"
				],
				"summary": "Returns a list of picture",
				"operationId": "getPicture",
				"produces": [
					"application/json"
				],
				"parameters": [
					{
						"$ref": "#/parameters/topParam"
					},
					{
						"$ref": "#/parameters/skipParam"
					},
					{
						"$ref": "#/parameters/limitParam"
					},
					{
						"$ref": "#/parameters/filterParam"
					},
					{
						"in": "query",
						"name": "$select",
						"type": "array",
						"items": {
							"enum": [
								"id",
								"width",
								"height",
								"contentType",
								"content"
							],
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Succesfully returned a list of picture",
						"schema": {
							"type": "object",
							"properties": {
								"value": {
									"type": "array",
									"items": {
										"$ref": "#/definitions/picture"
									}
								}
							}
						}
					}
				}
			},
			"parameters": [
				{
					"in": "path",
					"name": "company_id",
					"description": "id for company",
					"required": true,
					"type": "string",
					"format": "uuid"
				}
			]
		},
		"/companies({company_id})/picture({picture_id})": {
			"get": {
				"tags": [
					"picture"
				],
				"summary": "Obtain information about the picture from its unique picture_id",
				"operationId": "getPictureById",
				"produces": [
					"application/json"
				],
				"responses": {
					"200": {
						"description": "Succesfully returned the requested picture",
						"schema": {
							"$ref": "#/definitions/picture"
						}
					}
				}
			},
			"delete": {
				"tags": [
					"picture"
				],
				"summary": "Allows the user to delete the specified picture",
				"operationId": "deletePictureById",
				"responses": {
					"204": {
						"description": "Succesfully deleted the picture with the specified picture_id"
					}
				}
			},
			"patch": {
				"tags": [
					"picture"
				],
				"summary": "Lets the user patch the specified picture",
				"operationId": "patchPictureById",
				"consumes": [
					"application/json"
				],
				"produces": [
					"application/json"
				],
				"parameters": [
					{
						"$ref": "#/parameters/IfMatchParam"
					},
					{
						"in": "body",
						"name": "body",
						"required": true,
						"schema": {
							"properties": {
								"id": {
									"format": "uuid",
									"type": "string"
								},
								"width": {
									"format": "int32",
									"type": "integer"
								},
								"height": {
									"format": "int32",
									"type": "integer"
								},
								"contentType": {
									"maxLength": 100,
									"type": "string"
								},
								"content": {
									"format": "binary",
									"type": "string"
								}
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Succesfully updated the picture with the specified picture_id",
						"schema": {
							"$ref": "#/definitions/picture"
						}
					}
				}
			},
			"parameters": [
				{
					"in": "path",
					"name": "company_id",
					"description": "id for company",
					"required": true,
					"type": "string",
					"format": "uuid"
				},
				{
					"in": "path",
					"name": "picture_id",
					"description": "id for picture",
					"required": true,
					"type": "string",
					"format": "uuid"
				},
				{
					"in": "query",
					"name": "$select",
					"type": "array",
					"items": {
						"enum": [
							"id",
							"width",
							"height",
							"contentType",
							"content"
						],
						"type": "string"
					}
				}
			]
		},
		"/companies({company_id})/defaultDimensions": {
			"get": {
				"tags": [
					"defaultDimensions"
				],
				"summary": "Returns a list of defaultDimensions",
				"operationId": "getDefaultDimensions",
				"produces": [
					"application/json"
				],
				"parameters": [
					{
						"$ref": "#/parameters/topParam"
					},
					{
						"$ref": "#/parameters/skipParam"
					},
					{
						"$ref": "#/parameters/limitParam"
					},
					{
						"$ref": "#/parameters/filterParam"
					},
					{
						"in": "query",
						"name": "$expand",
						"type": "array",
						"items": {
							"enum": [
								"account",
								"dimension",
								"dimensionValue"
							],
							"type": "string"
						}
					},
					{
						"in": "query",
						"name": "$select",
						"type": "array",
						"items": {
							"enum": [
								"parentId",
								"dimensionId",
								"dimensionCode",
								"dimensionValueId",
								"dimensionValueCode",
								"postingValidation"
							],
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Succesfully returned a list of defaultDimensions",
						"schema": {
							"type": "object",
							"properties": {
								"value": {
									"type": "array",
									"items": {
										"$ref": "#/definitions/defaultDimensions"
									}
								}
							}
						}
					}
				}
			},
			"post": {
				"tags": [
					"defaultDimensions"
				],
				"summary": "Lets a user post a new defaultDimensions",
				"operationId": "postDefaultDimensions",
				"consumes": [
					"application/json"
				],
				"produces": [
					"application/json"
				],
				"parameters": [
					{
						"in": "body",
						"name": "body",
						"required": true,
						"schema": {
							"properties": {
								"parentId": {
									"format": "uuid",
									"type": "string"
								},
								"dimensionId": {
									"format": "uuid",
									"type": "string"
								},
								"dimensionCode": {
									"maxLength": 20,
									"type": "string"
								},
								"dimensionValueId": {
									"format": "uuid",
									"type": "string"
								},
								"dimensionValueCode": {
									"maxLength": 20,
									"type": "string"
								},
								"postingValidation": {
									"type": "string"
								}
							}
						}
					}
				],
				"responses": {
					"201": {
						"description": "defaultDimensions succesfully created",
						"schema": {
							"$ref": "#/definitions/defaultDimensions"
						}
					}
				}
			},
			"parameters": [
				{
					"in": "path",
					"name": "company_id",
					"description": "id for company",
					"required": true,
					"type": "string",
					"format": "uuid"
				}
			]
		},
		"/companies({company_id})/defaultDimensions({defaultDimensions_parentId},{defaultDimensions_dimensionId})": {
			"get": {
				"tags": [
					"defaultDimensions"
				],
				"summary": "Obtain information about the defaultDimensions from its unique defaultDimensions_parentId, defaultDimensions_dimensionId",
				"operationId": "getDefaultDimensionsByDimensionIdByParentId",
				"produces": [
					"application/json"
				],
				"responses": {
					"200": {
						"description": "Succesfully returned the requested defaultDimensions",
						"schema": {
							"$ref": "#/definitions/defaultDimensions"
						}
					}
				}
			},
			"delete": {
				"tags": [
					"defaultDimensions"
				],
				"summary": "Allows the user to delete the specified defaultDimensions",
				"operationId": "deleteDefaultDimensionsByDimensionIdByParentId",
				"responses": {
					"204": {
						"description": "Succesfully deleted the defaultDimensions with the specified defaultDimensions_parentId, defaultDimensions_dimensionId"
					}
				}
			},
			"patch": {
				"tags": [
					"defaultDimensions"
				],
				"summary": "Lets the user patch the specified defaultDimensions",
				"operationId": "patchDefaultDimensionsByDimensionIdByParentId",
				"consumes": [
					"application/json"
				],
				"produces": [
					"application/json"
				],
				"parameters": [
					{
						"$ref": "#/parameters/IfMatchParam"
					},
					{
						"in": "body",
						"name": "body",
						"required": true,
						"schema": {
							"properties": {
								"parentId": {
									"format": "uuid",
									"type": "string"
								},
								"dimensionId": {
									"format": "uuid",
									"type": "string"
								},
								"dimensionCode": {
									"maxLength": 20,
									"type": "string"
								},
								"dimensionValueId": {
									"format": "uuid",
									"type": "string"
								},
								"dimensionValueCode": {
									"maxLength": 20,
									"type": "string"
								},
								"postingValidation": {
									"type": "string"
								}
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Succesfully updated the defaultDimensions with the specified defaultDimensions_parentId, defaultDimensions_dimensionId",
						"schema": {
							"$ref": "#/definitions/defaultDimensions"
						}
					}
				}
			},
			"parameters": [
				{
					"in": "path",
					"name": "company_id",
					"description": "id for company",
					"required": true,
					"type": "string",
					"format": "uuid"
				},
				{
					"in": "path",
					"name": "defaultDimensions_parentId",
					"description": "parentId for defaultDimensions",
					"required": true,
					"type": "string",
					"format": "uuid"
				},
				{
					"in": "path",
					"name": "defaultDimensions_dimensionId",
					"description": "dimensionId for defaultDimensions",
					"required": true,
					"type": "string",
					"format": "uuid"
				},
				{
					"in": "query",
					"name": "$expand",
					"type": "array",
					"items": {
						"enum": [
							"account",
							"dimension",
							"dimensionValue"
						],
						"type": "string"
					}
				},
				{
					"in": "query",
					"name": "$select",
					"type": "array",
					"items": {
						"enum": [
							"parentId",
							"dimensionId",
							"dimensionCode",
							"dimensionValueId",
							"dimensionValueCode",
							"postingValidation"
						],
						"type": "string"
					}
				}
			]
		},
		"/companies({company_id})/customers": {
			"get": {
				"tags": [
					"customers"
				],
				"summary": "Returns a list of customers",
				"operationId": "getCustomers",
				"produces": [
					"application/json"
				],
				"parameters": [
					{
						"$ref": "#/parameters/topParam"
					},
					{
						"$ref": "#/parameters/skipParam"
					},
					{
						"$ref": "#/parameters/limitParam"
					},
					{
						"$ref": "#/parameters/filterParam"
					},
					{
						"in": "query",
						"name": "$expand",
						"type": "array",
						"items": {
							"enum": [
								"customerFinancialDetails",
								"picture",
								"defaultDimensions",
								"currency",
								"paymentTerm",
								"shipmentMethod",
								"paymentMethod"
							],
							"type": "string"
						}
					},
					{
						"in": "query",
						"name": "$select",
						"type": "array",
						"items": {
							"enum": [
								"id",
								"number",
								"displayName",
								"type",
								"address",
								"phoneNumber",
								"email",
								"website",
								"taxLiable",
								"taxAreaId",
								"taxAreaDisplayName",
								"taxRegistrationNumber",
								"currencyId",
								"currencyCode",
								"paymentTermsId",
								"shipmentMethodId",
								"paymentMethodId",
								"blocked",
								"lastModifiedDateTime"
							],
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Succesfully returned a list of customers",
						"schema": {
							"type": "object",
							"properties": {
								"value": {
									"type": "array",
									"items": {
										"$ref": "#/definitions/customer"
									}
								}
							}
						}
					}
				}
			},
			"post": {
				"tags": [
					"customers"
				],
				"summary": "Lets a user post a new customer",
				"operationId": "postCustomer",
				"consumes": [
					"application/json"
				],
				"produces": [
					"application/json"
				],
				"parameters": [
					{
						"in": "body",
						"name": "body",
						"required": true,
						"schema": {
							"properties": {
								"id": {
									"format": "uuid",
									"type": "string"
								},
								"number": {
									"maxLength": 20,
									"type": "string"
								},
								"displayName": {
									"maxLength": 100,
									"type": "string"
								},
								"type": {
									"type": "string"
								},
								"address": {
									"$ref": "#/definitions/postaladdresstype"
								},
								"phoneNumber": {
									"maxLength": 30,
									"type": "string"
								},
								"email": {
									"maxLength": 80,
									"type": "string"
								},
								"website": {
									"maxLength": 80,
									"type": "string"
								},
								"taxLiable": {
									"type": "boolean"
								},
								"taxAreaId": {
									"format": "uuid",
									"type": "string"
								},
								"taxAreaDisplayName": {
									"type": "string"
								},
								"taxRegistrationNumber": {
									"maxLength": 20,
									"type": "string"
								},
								"currencyId": {
									"format": "uuid",
									"type": "string"
								},
								"currencyCode": {
									"type": "string"
								},
								"paymentTermsId": {
									"format": "uuid",
									"type": "string"
								},
								"shipmentMethodId": {
									"format": "uuid",
									"type": "string"
								},
								"paymentMethodId": {
									"format": "uuid",
									"type": "string"
								},
								"blocked": {
									"type": "string"
								},
								"lastModifiedDateTime": {
									"format": "date-time",
									"type": "string"
								}
							}
						}
					}
				],
				"responses": {
					"201": {
						"description": "customer succesfully created",
						"schema": {
							"$ref": "#/definitions/customer"
						}
					}
				}
			},
			"parameters": [
				{
					"in": "path",
					"name": "company_id",
					"description": "id for company",
					"required": true,
					"type": "string",
					"format": "uuid"
				}
			]
		},
		"/companies({company_id})/customers({customer_id})": {
			"get": {
				"tags": [
					"customers"
				],
				"summary": "Obtain information about the customer from its unique customer_id",
				"operationId": "getCustomerById",
				"produces": [
					"application/json"
				],
				"responses": {
					"200": {
						"description": "Succesfully returned the requested customer",
						"schema": {
							"$ref": "#/definitions/customer"
						}
					}
				}
			},
			"delete": {
				"tags": [
					"customers"
				],
				"summary": "Allows the user to delete the specified customer",
				"operationId": "deleteCustomerById",
				"responses": {
					"204": {
						"description": "Succesfully deleted the customer with the specified customer_id"
					}
				}
			},
			"patch": {
				"tags": [
					"customers"
				],
				"summary": "Lets the user patch the specified customer",
				"operationId": "patchCustomerById",
				"consumes": [
					"application/json"
				],
				"produces": [
					"application/json"
				],
				"parameters": [
					{
						"$ref": "#/parameters/IfMatchParam"
					},
					{
						"in": "body",
						"name": "body",
						"required": true,
						"schema": {
							"properties": {
								"id": {
									"format": "uuid",
									"type": "string"
								},
								"number": {
									"maxLength": 20,
									"type": "string"
								},
								"displayName": {
									"maxLength": 100,
									"type": "string"
								},
								"type": {
									"type": "string"
								},
								"address": {
									"$ref": "#/definitions/postaladdresstype"
								},
								"phoneNumber": {
									"maxLength": 30,
									"type": "string"
								},
								"email": {
									"maxLength": 80,
									"type": "string"
								},
								"website": {
									"maxLength": 80,
									"type": "string"
								},
								"taxLiable": {
									"type": "boolean"
								},
								"taxAreaId": {
									"format": "uuid",
									"type": "string"
								},
								"taxAreaDisplayName": {
									"type": "string"
								},
								"taxRegistrationNumber": {
									"maxLength": 20,
									"type": "string"
								},
								"currencyId": {
									"format": "uuid",
									"type": "string"
								},
								"currencyCode": {
									"type": "string"
								},
								"paymentTermsId": {
									"format": "uuid",
									"type": "string"
								},
								"shipmentMethodId": {
									"format": "uuid",
									"type": "string"
								},
								"paymentMethodId": {
									"format": "uuid",
									"type": "string"
								},
								"blocked": {
									"type": "string"
								},
								"lastModifiedDateTime": {
									"format": "date-time",
									"type": "string"
								}
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Succesfully updated the customer with the specified customer_id",
						"schema": {
							"$ref": "#/definitions/customer"
						}
					}
				}
			},
			"parameters": [
				{
					"in": "path",
					"name": "company_id",
					"description": "id for company",
					"required": true,
					"type": "string",
					"format": "uuid"
				},
				{
					"in": "path",
					"name": "customer_id",
					"description": "id for customer",
					"required": true,
					"type": "string",
					"format": "uuid"
				},
				{
					"in": "query",
					"name": "$expand",
					"type": "array",
					"items": {
						"enum": [
							"customerFinancialDetails",
							"picture",
							"defaultDimensions",
							"currency",
							"paymentTerm",
							"shipmentMethod",
							"paymentMethod"
						],
						"type": "string"
					}
				},
				{
					"in": "query",
					"name": "$select",
					"type": "array",
					"items": {
						"enum": [
							"id",
							"number",
							"displayName",
							"type",
							"address",
							"phoneNumber",
							"email",
							"website",
							"taxLiable",
							"taxAreaId",
							"taxAreaDisplayName",
							"taxRegistrationNumber",
							"currencyId",
							"currencyCode",
							"paymentTermsId",
							"shipmentMethodId",
							"paymentMethodId",
							"blocked",
							"lastModifiedDateTime"
						],
						"type": "string"
					}
				}
			]
		},
		"/companies({company_id})/customers({customer_id})/customerFinancialDetails": {
			"get": {
				"tags": [
					"customerFinancialDetails"
				],
				"summary": "Returns a list of customerFinancialDetails",
				"operationId": "getCustomerFinancialDetailsForCustomer",
				"produces": [
					"application/json"
				],
				"parameters": [
					{
						"$ref": "#/parameters/topParam"
					},
					{
						"$ref": "#/parameters/skipParam"
					},
					{
						"$ref": "#/parameters/limitParam"
					},
					{
						"$ref": "#/parameters/filterParam"
					},
					{
						"in": "query",
						"name": "$select",
						"type": "array",
						"items": {
							"enum": [
								"id",
								"number",
								"balance",
								"totalSalesExcludingTax",
								"overdueAmount"
							],
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Succesfully returned a list of customerFinancialDetails",
						"schema": {
							"type": "object",
							"properties": {
								"value": {
									"type": "array",
									"items": {
										"$ref": "#/definitions/customerFinancialDetail"
									}
								}
							}
						}
					}
				}
			},
			"parameters": [
				{
					"in": "path",
					"name": "company_id",
					"description": "id for company",
					"required": true,
					"type": "string",
					"format": "uuid"
				},
				{
					"in": "path",
					"name": "customer_id",
					"description": "id for customer",
					"required": true,
					"type": "string",
					"format": "uuid"
				}
			]
		},
		"/companies({company_id})/customers({customer_id})/customerFinancialDetails({customerFinancialDetail_id})": {
			"get": {
				"tags": [
					"customerFinancialDetails"
				],
				"summary": "Obtain information about the customerFinancialDetail from its unique customerFinancialDetail_id",
				"operationId": "getCustomerFinancialDetailForCustomerById",
				"produces": [
					"application/json"
				],
				"responses": {
					"200": {
						"description": "Succesfully returned the requested customerFinancialDetail",
						"schema": {
							"$ref": "#/definitions/customerFinancialDetail"
						}
					}
				}
			},
			"parameters": [
				{
					"in": "path",
					"name": "company_id",
					"description": "id for company",
					"required": true,
					"type": "string",
					"format": "uuid"
				},
				{
					"in": "path",
					"name": "customer_id",
					"description": "id for customer",
					"required": true,
					"type": "string",
					"format": "uuid"
				},
				{
					"in": "path",
					"name": "customerFinancialDetail_id",
					"description": "id for customerFinancialDetail",
					"required": true,
					"type": "string",
					"format": "uuid"
				},
				{
					"in": "query",
					"name": "$select",
					"type": "array",
					"items": {
						"enum": [
							"id",
							"number",
							"balance",
							"totalSalesExcludingTax",
							"overdueAmount"
						],
						"type": "string"
					}
				}
			]
		},
		"/companies({company_id})/customers({customer_id})/picture": {
			"get": {
				"tags": [
					"picture"
				],
				"summary": "Returns a list of picture",
				"operationId": "getPictureForCustomer",
				"produces": [
					"application/json"
				],
				"parameters": [
					{
						"$ref": "#/parameters/topParam"
					},
					{
						"$ref": "#/parameters/skipParam"
					},
					{
						"$ref": "#/parameters/limitParam"
					},
					{
						"$ref": "#/parameters/filterParam"
					},
					{
						"in": "query",
						"name": "$select",
						"type": "array",
						"items": {
							"enum": [
								"id",
								"width",
								"height",
								"contentType",
								"content"
							],
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Succesfully returned a list of picture",
						"schema": {
							"type": "object",
							"properties": {
								"value": {
									"type": "array",
									"items": {
										"$ref": "#/definitions/picture"
									}
								}
							}
						}
					}
				}
			},
			"parameters": [
				{
					"in": "path",
					"name": "company_id",
					"description": "id for company",
					"required": true,
					"type": "string",
					"format": "uuid"
				},
				{
					"in": "path",
					"name": "customer_id",
					"description": "id for customer",
					"required": true,
					"type": "string",
					"format": "uuid"
				}
			]
		},
		"/companies({company_id})/customers({customer_id})/picture({picture_id})": {
			"get": {
				"tags": [
					"picture"
				],
				"summary": "Obtain information about the picture from its unique picture_id",
				"operationId": "getPictureForCustomerById",
				"produces": [
					"application/json"
				],
				"responses": {
					"200": {
						"description": "Succesfully returned the requested picture",
						"schema": {
							"$ref": "#/definitions/picture"
						}
					}
				}
			},
			"delete": {
				"tags": [
					"picture"
				],
				"summary": "Allows the user to delete the specified picture",
				"operationId": "deletePictureForCustomerByIdById",
				"responses": {
					"204": {
						"description": "Succesfully deleted the picture with the specified picture_id"
					}
				}
			},
			"patch": {
				"tags": [
					"picture"
				],
				"summary": "Lets the user patch the specified picture",
				"operationId": "patchPictureForCustomerByIdById",
				"consumes": [
					"application/json"
				],
				"produces": [
					"application/json"
				],
				"parameters": [
					{
						"$ref": "#/parameters/IfMatchParam"
					},
					{
						"in": "body",
						"name": "body",
						"required": true,
						"schema": {
							"properties": {
								"id": {
									"format": "uuid",
									"type": "string"
								},
								"width": {
									"format": "int32",
									"type": "integer"
								},
								"height": {
									"format": "int32",
									"type": "integer"
								},
								"contentType": {
									"maxLength": 100,
									"type": "string"
								},
								"content": {
									"format": "binary",
									"type": "string"
								}
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Succesfully updated the picture with the specified picture_id",
						"schema": {
							"$ref": "#/definitions/picture"
						}
					}
				}
			},
			"parameters": [
				{
					"in": "path",
					"name": "company_id",
					"description": "id for company",
					"required": true,
					"type": "string",
					"format": "uuid"
				},
				{
					"in": "path",
					"name": "customer_id",
					"description": "id for customer",
					"required": true,
					"type": "string",
					"format": "uuid"
				},
				{
					"in": "path",
					"name": "picture_id",
					"description": "id for picture",
					"required": true,
					"type": "string",
					"format": "uuid"
				},
				{
					"in": "query",
					"name": "$select",
					"type": "array",
					"items": {
						"enum": [
							"id",
							"width",
							"height",
							"contentType",
							"content"
						],
						"type": "string"
					}
				}
			]
		},
		"/companies({company_id})/customers({customer_id})/defaultDimensions": {
			"get": {
				"tags": [
					"defaultDimensions"
				],
				"summary": "Returns a list of defaultDimensions",
				"operationId": "getDefaultDimensionsForCustomer",
				"produces": [
					"application/json"
				],
				"parameters": [
					{
						"$ref": "#/parameters/topParam"
					},
					{
						"$ref": "#/parameters/skipParam"
					},
					{
						"$ref": "#/parameters/limitParam"
					},
					{
						"$ref": "#/parameters/filterParam"
					},
					{
						"in": "query",
						"name": "$expand",
						"type": "array",
						"items": {
							"enum": [
								"account",
								"dimension",
								"dimensionValue"
							],
							"type": "string"
						}
					},
					{
						"in": "query",
						"name": "$select",
						"type": "array",
						"items": {
							"enum": [
								"parentId",
								"dimensionId",
								"dimensionCode",
								"dimensionValueId",
								"dimensionValueCode",
								"postingValidation"
							],
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Succesfully returned a list of defaultDimensions",
						"schema": {
							"type": "object",
							"properties": {
								"value": {
									"type": "array",
									"items": {
										"$ref": "#/definitions/defaultDimensions"
									}
								}
							}
						}
					}
				}
			},
			"post": {
				"tags": [
					"defaultDimensions"
				],
				"summary": "Lets a user post a new defaultDimensions",
				"operationId": "postDefaultDimensionsForCustomer",
				"consumes": [
					"application/json"
				],
				"produces": [
					"application/json"
				],
				"parameters": [
					{
						"in": "body",
						"name": "body",
						"required": true,
						"schema": {
							"properties": {
								"parentId": {
									"format": "uuid",
									"type": "string"
								},
								"dimensionId": {
									"format": "uuid",
									"type": "string"
								},
								"dimensionCode": {
									"maxLength": 20,
									"type": "string"
								},
								"dimensionValueId": {
									"format": "uuid",
									"type": "string"
								},
								"dimensionValueCode": {
									"maxLength": 20,
									"type": "string"
								},
								"postingValidation": {
									"type": "string"
								}
							}
						}
					}
				],
				"responses": {
					"201": {
						"description": "defaultDimensions succesfully created",
						"schema": {
							"$ref": "#/definitions/defaultDimensions"
						}
					}
				}
			},
			"parameters": [
				{
					"in": "path",
					"name": "company_id",
					"description": "id for company",
					"required": true,
					"type": "string",
					"format": "uuid"
				},
				{
					"in": "path",
					"name": "customer_id",
					"description": "id for customer",
					"required": true,
					"type": "string",
					"format": "uuid"
				}
			]
		},
		"/companies({company_id})/customers({customer_id})/defaultDimensions({defaultDimensions_parentId},{defaultDimensions_dimensionId})": {
			"get": {
				"tags": [
					"defaultDimensions"
				],
				"summary": "Obtain information about the defaultDimensions from its unique defaultDimensions_parentId, defaultDimensions_dimensionId",
				"operationId": "getDefaultDimensionsForCustomerByDimensionIdByParentId",
				"produces": [
					"application/json"
				],
				"responses": {
					"200": {
						"description": "Succesfully returned the requested defaultDimensions",
						"schema": {
							"$ref": "#/definitions/defaultDimensions"
						}
					}
				}
			},
			"delete": {
				"tags": [
					"defaultDimensions"
				],
				"summary": "Allows the user to delete the specified defaultDimensions",
				"operationId": "deleteDefaultDimensionsForCustomerByDimensionIdByParentIdById",
				"responses": {
					"204": {
						"description": "Succesfully deleted the defaultDimensions with the specified defaultDimensions_parentId, defaultDimensions_dimensionId"
					}
				}
			},
			"patch": {
				"tags": [
					"defaultDimensions"
				],
				"summary": "Lets the user patch the specified defaultDimensions",
				"operationId": "patchDefaultDimensionsForCustomerByDimensionIdByParentIdById",
				"consumes": [
					"application/json"
				],
				"produces": [
					"application/json"
				],
				"parameters": [
					{
						"$ref": "#/parameters/IfMatchParam"
					},
					{
						"in": "body",
						"name": "body",
						"required": true,
						"schema": {
							"properties": {
								"parentId": {
									"format": "uuid",
									"type": "string"
								},
								"dimensionId": {
									"format": "uuid",
									"type": "string"
								},
								"dimensionCode": {
									"maxLength": 20,
									"type": "string"
								},
								"dimensionValueId": {
									"format": "uuid",
									"type": "string"
								},
								"dimensionValueCode": {
									"maxLength": 20,
									"type": "string"
								},
								"postingValidation": {
									"type": "string"
								}
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Succesfully updated the defaultDimensions with the specified defaultDimensions_parentId, defaultDimensions_dimensionId",
						"schema": {
							"$ref": "#/definitions/defaultDimensions"
						}
					}
				}
			},
			"parameters": [
				{
					"in": "path",
					"name": "company_id",
					"description": "id for company",
					"required": true,
					"type": "string",
					"format": "uuid"
				},
				{
					"in": "path",
					"name": "customer_id",
					"description": "id for customer",
					"required": true,
					"type": "string",
					"format": "uuid"
				},
				{
					"in": "path",
					"name": "defaultDimensions_parentId",
					"description": "parentId for defaultDimensions",
					"required": true,
					"type": "string",
					"format": "uuid"
				},
				{
					"in": "path",
					"name": "defaultDimensions_dimensionId",
					"description": "dimensionId for defaultDimensions",
					"required": true,
					"type": "string",
					"format": "uuid"
				},
				{
					"in": "query",
					"name": "$expand",
					"type": "array",
					"items": {
						"enum": [
							"account",
							"dimension",
							"dimensionValue"
						],
						"type": "string"
					}
				},
				{
					"in": "query",
					"name": "$select",
					"type": "array",
					"items": {
						"enum": [
							"parentId",
							"dimensionId",
							"dimensionCode",
							"dimensionValueId",
							"dimensionValueCode",
							"postingValidation"
						],
						"type": "string"
					}
				}
			]
		},
		"/companies({company_id})/customerFinancialDetails": {
			"get": {
				"tags": [
					"customerFinancialDetails"
				],
				"summary": "Returns a list of customerFinancialDetails",
				"operationId": "getCustomerFinancialDetails",
				"produces": [
					"application/json"
				],
				"parameters": [
					{
						"$ref": "#/parameters/topParam"
					},
					{
						"$ref": "#/parameters/skipParam"
					},
					{
						"$ref": "#/parameters/limitParam"
					},
					{
						"$ref": "#/parameters/filterParam"
					},
					{
						"in": "query",
						"name": "$select",
						"type": "array",
						"items": {
							"enum": [
								"id",
								"number",
								"balance",
								"totalSalesExcludingTax",
								"overdueAmount"
							],
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Succesfully returned a list of customerFinancialDetails",
						"schema": {
							"type": "object",
							"properties": {
								"value": {
									"type": "array",
									"items": {
										"$ref": "#/definitions/customerFinancialDetail"
									}
								}
							}
						}
					}
				}
			},
			"parameters": [
				{
					"in": "path",
					"name": "company_id",
					"description": "id for company",
					"required": true,
					"type": "string",
					"format": "uuid"
				}
			]
		},
		"/companies({company_id})/customerFinancialDetails({customerFinancialDetail_id})": {
			"get": {
				"tags": [
					"customerFinancialDetails"
				],
				"summary": "Obtain information about the customerFinancialDetail from its unique customerFinancialDetail_id",
				"operationId": "getCustomerFinancialDetailById",
				"produces": [
					"application/json"
				],
				"responses": {
					"200": {
						"description": "Succesfully returned the requested customerFinancialDetail",
						"schema": {
							"$ref": "#/definitions/customerFinancialDetail"
						}
					}
				}
			},
			"parameters": [
				{
					"in": "path",
					"name": "company_id",
					"description": "id for company",
					"required": true,
					"type": "string",
					"format": "uuid"
				},
				{
					"in": "path",
					"name": "customerFinancialDetail_id",
					"description": "id for customerFinancialDetail",
					"required": true,
					"type": "string",
					"format": "uuid"
				},
				{
					"in": "query",
					"name": "$select",
					"type": "array",
					"items": {
						"enum": [
							"id",
							"number",
							"balance",
							"totalSalesExcludingTax",
							"overdueAmount"
						],
						"type": "string"
					}
				}
			]
		},
		"/companies({company_id})/vendors": {
			"get": {
				"tags": [
					"vendors"
				],
				"summary": "Returns a list of vendors",
				"operationId": "getVendors",
				"produces": [
					"application/json"
				],
				"parameters": [
					{
						"$ref": "#/parameters/topParam"
					},
					{
						"$ref": "#/parameters/skipParam"
					},
					{
						"$ref": "#/parameters/limitParam"
					},
					{
						"$ref": "#/parameters/filterParam"
					},
					{
						"in": "query",
						"name": "$expand",
						"type": "array",
						"items": {
							"enum": [
								"picture",
								"defaultDimensions",
								"currency",
								"paymentTerm",
								"paymentMethod"
							],
							"type": "string"
						}
					},
					{
						"in": "query",
						"name": "$select",
						"type": "array",
						"items": {
							"enum": [
								"id",
								"number",
								"displayName",
								"address",
								"phoneNumber",
								"email",
								"website",
								"taxRegistrationNumber",
								"currencyId",
								"currencyCode",
								"irs1099Code",
								"paymentTermsId",
								"paymentMethodId",
								"taxLiable",
								"blocked",
								"balance",
								"lastModifiedDateTime"
							],
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Succesfully returned a list of vendors",
						"schema": {
							"type": "object",
							"properties": {
								"value": {
									"type": "array",
									"items": {
										"$ref": "#/definitions/vendor"
									}
								}
							}
						}
					}
				}
			},
			"post": {
				"tags": [
					"vendors"
				],
				"summary": "Lets a user post a new vendor",
				"operationId": "postVendor",
				"consumes": [
					"application/json"
				],
				"produces": [
					"application/json"
				],
				"parameters": [
					{
						"in": "body",
						"name": "body",
						"required": true,
						"schema": {
							"properties": {
								"id": {
									"format": "uuid",
									"type": "string"
								},
								"number": {
									"maxLength": 20,
									"type": "string"
								},
								"displayName": {
									"maxLength": 100,
									"type": "string"
								},
								"address": {
									"$ref": "#/definitions/postaladdresstype"
								},
								"phoneNumber": {
									"maxLength": 30,
									"type": "string"
								},
								"email": {
									"maxLength": 80,
									"type": "string"
								},
								"website": {
									"maxLength": 80,
									"type": "string"
								},
								"taxRegistrationNumber": {
									"maxLength": 20,
									"type": "string"
								},
								"currencyId": {
									"format": "uuid",
									"type": "string"
								},
								"currencyCode": {
									"type": "string"
								},
								"irs1099Code": {
									"type": "string"
								},
								"paymentTermsId": {
									"format": "uuid",
									"type": "string"
								},
								"paymentMethodId": {
									"format": "uuid",
									"type": "string"
								},
								"taxLiable": {
									"type": "boolean"
								},
								"blocked": {
									"type": "string"
								},
								"balance": {
									"format": "decimal",
									"type": "number"
								},
								"lastModifiedDateTime": {
									"format": "date-time",
									"type": "string"
								}
							}
						}
					}
				],
				"responses": {
					"201": {
						"description": "vendor succesfully created",
						"schema": {
							"$ref": "#/definitions/vendor"
						}
					}
				}
			},
			"parameters": [
				{
					"in": "path",
					"name": "company_id",
					"description": "id for company",
					"required": true,
					"type": "string",
					"format": "uuid"
				}
			]
		},
		"/companies({company_id})/vendors({vendor_id})": {
			"get": {
				"tags": [
					"vendors"
				],
				"summary": "Obtain information about the vendor from its unique vendor_id",
				"operationId": "getVendorById",
				"produces": [
					"application/json"
				],
				"responses": {
					"200": {
						"description": "Succesfully returned the requested vendor",
						"schema": {
							"$ref": "#/definitions/vendor"
						}
					}
				}
			},
			"delete": {
				"tags": [
					"vendors"
				],
				"summary": "Allows the user to delete the specified vendor",
				"operationId": "deleteVendorById",
				"responses": {
					"204": {
						"description": "Succesfully deleted the vendor with the specified vendor_id"
					}
				}
			},
			"patch": {
				"tags": [
					"vendors"
				],
				"summary": "Lets the user patch the specified vendor",
				"operationId": "patchVendorById",
				"consumes": [
					"application/json"
				],
				"produces": [
					"application/json"
				],
				"parameters": [
					{
						"$ref": "#/parameters/IfMatchParam"
					},
					{
						"in": "body",
						"name": "body",
						"required": true,
						"schema": {
							"properties": {
								"id": {
									"format": "uuid",
									"type": "string"
								},
								"number": {
									"maxLength": 20,
									"type": "string"
								},
								"displayName": {
									"maxLength": 100,
									"type": "string"
								},
								"address": {
									"$ref": "#/definitions/postaladdresstype"
								},
								"phoneNumber": {
									"maxLength": 30,
									"type": "string"
								},
								"email": {
									"maxLength": 80,
									"type": "string"
								},
								"website": {
									"maxLength": 80,
									"type": "string"
								},
								"taxRegistrationNumber": {
									"maxLength": 20,
									"type": "string"
								},
								"currencyId": {
									"format": "uuid",
									"type": "string"
								},
								"currencyCode": {
									"type": "string"
								},
								"irs1099Code": {
									"type": "string"
								},
								"paymentTermsId": {
									"format": "uuid",
									"type": "string"
								},
								"paymentMethodId": {
									"format": "uuid",
									"type": "string"
								},
								"taxLiable": {
									"type": "boolean"
								},
								"blocked": {
									"type": "string"
								},
								"balance": {
									"format": "decimal",
									"type": "number"
								},
								"lastModifiedDateTime": {
									"format": "date-time",
									"type": "string"
								}
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Succesfully updated the vendor with the specified vendor_id",
						"schema": {
							"$ref": "#/definitions/vendor"
						}
					}
				}
			},
			"parameters": [
				{
					"in": "path",
					"name": "company_id",
					"description": "id for company",
					"required": true,
					"type": "string",
					"format": "uuid"
				},
				{
					"in": "path",
					"name": "vendor_id",
					"description": "id for vendor",
					"required": true,
					"type": "string",
					"format": "uuid"
				},
				{
					"in": "query",
					"name": "$expand",
					"type": "array",
					"items": {
						"enum": [
							"picture",
							"defaultDimensions",
							"currency",
							"paymentTerm",
							"paymentMethod"
						],
						"type": "string"
					}
				},
				{
					"in": "query",
					"name": "$select",
					"type": "array",
					"items": {
						"enum": [
							"id",
							"number",
							"displayName",
							"address",
							"phoneNumber",
							"email",
							"website",
							"taxRegistrationNumber",
							"currencyId",
							"currencyCode",
							"irs1099Code",
							"paymentTermsId",
							"paymentMethodId",
							"taxLiable",
							"blocked",
							"balance",
							"lastModifiedDateTime"
						],
						"type": "string"
					}
				}
			]
		},
		"/companies({company_id})/vendors({vendor_id})/picture": {
			"get": {
				"tags": [
					"picture"
				],
				"summary": "Returns a list of picture",
				"operationId": "getPictureForVendor",
				"produces": [
					"application/json"
				],
				"parameters": [
					{
						"$ref": "#/parameters/topParam"
					},
					{
						"$ref": "#/parameters/skipParam"
					},
					{
						"$ref": "#/parameters/limitParam"
					},
					{
						"$ref": "#/parameters/filterParam"
					},
					{
						"in": "query",
						"name": "$select",
						"type": "array",
						"items": {
							"enum": [
								"id",
								"width",
								"height",
								"contentType",
								"content"
							],
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Succesfully returned a list of picture",
						"schema": {
							"type": "object",
							"properties": {
								"value": {
									"type": "array",
									"items": {
										"$ref": "#/definitions/picture"
									}
								}
							}
						}
					}
				}
			},
			"parameters": [
				{
					"in": "path",
					"name": "company_id",
					"description": "id for company",
					"required": true,
					"type": "string",
					"format": "uuid"
				},
				{
					"in": "path",
					"name": "vendor_id",
					"description": "id for vendor",
					"required": true,
					"type": "string",
					"format": "uuid"
				}
			]
		},
		"/companies({company_id})/vendors({vendor_id})/picture({picture_id})": {
			"get": {
				"tags": [
					"picture"
				],
				"summary": "Obtain information about the picture from its unique picture_id",
				"operationId": "getPictureForVendorById",
				"produces": [
					"application/json"
				],
				"responses": {
					"200": {
						"description": "Succesfully returned the requested picture",
						"schema": {
							"$ref": "#/definitions/picture"
						}
					}
				}
			},
			"delete": {
				"tags": [
					"picture"
				],
				"summary": "Allows the user to delete the specified picture",
				"operationId": "deletePictureForVendorByIdById",
				"responses": {
					"204": {
						"description": "Succesfully deleted the picture with the specified picture_id"
					}
				}
			},
			"patch": {
				"tags": [
					"picture"
				],
				"summary": "Lets the user patch the specified picture",
				"operationId": "patchPictureForVendorByIdById",
				"consumes": [
					"application/json"
				],
				"produces": [
					"application/json"
				],
				"parameters": [
					{
						"$ref": "#/parameters/IfMatchParam"
					},
					{
						"in": "body",
						"name": "body",
						"required": true,
						"schema": {
							"properties": {
								"id": {
									"format": "uuid",
									"type": "string"
								},
								"width": {
									"format": "int32",
									"type": "integer"
								},
								"height": {
									"format": "int32",
									"type": "integer"
								},
								"contentType": {
									"maxLength": 100,
									"type": "string"
								},
								"content": {
									"format": "binary",
									"type": "string"
								}
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Succesfully updated the picture with the specified picture_id",
						"schema": {
							"$ref": "#/definitions/picture"
						}
					}
				}
			},
			"parameters": [
				{
					"in": "path",
					"name": "company_id",
					"description": "id for company",
					"required": true,
					"type": "string",
					"format": "uuid"
				},
				{
					"in": "path",
					"name": "vendor_id",
					"description": "id for vendor",
					"required": true,
					"type": "string",
					"format": "uuid"
				},
				{
					"in": "path",
					"name": "picture_id",
					"description": "id for picture",
					"required": true,
					"type": "string",
					"format": "uuid"
				},
				{
					"in": "query",
					"name": "$select",
					"type": "array",
					"items": {
						"enum": [
							"id",
							"width",
							"height",
							"contentType",
							"content"
						],
						"type": "string"
					}
				}
			]
		},
		"/companies({company_id})/vendors({vendor_id})/defaultDimensions": {
			"get": {
				"tags": [
					"defaultDimensions"
				],
				"summary": "Returns a list of defaultDimensions",
				"operationId": "getDefaultDimensionsForVendor",
				"produces": [
					"application/json"
				],
				"parameters": [
					{
						"$ref": "#/parameters/topParam"
					},
					{
						"$ref": "#/parameters/skipParam"
					},
					{
						"$ref": "#/parameters/limitParam"
					},
					{
						"$ref": "#/parameters/filterParam"
					},
					{
						"in": "query",
						"name": "$expand",
						"type": "array",
						"items": {
							"enum": [
								"account",
								"dimension",
								"dimensionValue"
							],
							"type": "string"
						}
					},
					{
						"in": "query",
						"name": "$select",
						"type": "array",
						"items": {
							"enum": [
								"parentId",
								"dimensionId",
								"dimensionCode",
								"dimensionValueId",
								"dimensionValueCode",
								"postingValidation"
							],
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Succesfully returned a list of defaultDimensions",
						"schema": {
							"type": "object",
							"properties": {
								"value": {
									"type": "array",
									"items": {
										"$ref": "#/definitions/defaultDimensions"
									}
								}
							}
						}
					}
				}
			},
			"post": {
				"tags": [
					"defaultDimensions"
				],
				"summary": "Lets a user post a new defaultDimensions",
				"operationId": "postDefaultDimensionsForVendor",
				"consumes": [
					"application/json"
				],
				"produces": [
					"application/json"
				],
				"parameters": [
					{
						"in": "body",
						"name": "body",
						"required": true,
						"schema": {
							"properties": {
								"parentId": {
									"format": "uuid",
									"type": "string"
								},
								"dimensionId": {
									"format": "uuid",
									"type": "string"
								},
								"dimensionCode": {
									"maxLength": 20,
									"type": "string"
								},
								"dimensionValueId": {
									"format": "uuid",
									"type": "string"
								},
								"dimensionValueCode": {
									"maxLength": 20,
									"type": "string"
								},
								"postingValidation": {
									"type": "string"
								}
							}
						}
					}
				],
				"responses": {
					"201": {
						"description": "defaultDimensions succesfully created",
						"schema": {
							"$ref": "#/definitions/defaultDimensions"
						}
					}
				}
			},
			"parameters": [
				{
					"in": "path",
					"name": "company_id",
					"description": "id for company",
					"required": true,
					"type": "string",
					"format": "uuid"
				},
				{
					"in": "path",
					"name": "vendor_id",
					"description": "id for vendor",
					"required": true,
					"type": "string",
					"format": "uuid"
				}
			]
		},
		"/companies({company_id})/vendors({vendor_id})/defaultDimensions({defaultDimensions_parentId},{defaultDimensions_dimensionId})": {
			"get": {
				"tags": [
					"defaultDimensions"
				],
				"summary": "Obtain information about the defaultDimensions from its unique defaultDimensions_parentId, defaultDimensions_dimensionId",
				"operationId": "getDefaultDimensionsForVendorByDimensionIdByParentId",
				"produces": [
					"application/json"
				],
				"responses": {
					"200": {
						"description": "Succesfully returned the requested defaultDimensions",
						"schema": {
							"$ref": "#/definitions/defaultDimensions"
						}
					}
				}
			},
			"delete": {
				"tags": [
					"defaultDimensions"
				],
				"summary": "Allows the user to delete the specified defaultDimensions",
				"operationId": "deleteDefaultDimensionsForVendorByDimensionIdByParentIdById",
				"responses": {
					"204": {
						"description": "Succesfully deleted the defaultDimensions with the specified defaultDimensions_parentId, defaultDimensions_dimensionId"
					}
				}
			},
			"patch": {
				"tags": [
					"defaultDimensions"
				],
				"summary": "Lets the user patch the specified defaultDimensions",
				"operationId": "patchDefaultDimensionsForVendorByDimensionIdByParentIdById",
				"consumes": [
					"application/json"
				],
				"produces": [
					"application/json"
				],
				"parameters": [
					{
						"$ref": "#/parameters/IfMatchParam"
					},
					{
						"in": "body",
						"name": "body",
						"required": true,
						"schema": {
							"properties": {
								"parentId": {
									"format": "uuid",
									"type": "string"
								},
								"dimensionId": {
									"format": "uuid",
									"type": "string"
								},
								"dimensionCode": {
									"maxLength": 20,
									"type": "string"
								},
								"dimensionValueId": {
									"format": "uuid",
									"type": "string"
								},
								"dimensionValueCode": {
									"maxLength": 20,
									"type": "string"
								},
								"postingValidation": {
									"type": "string"
								}
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Succesfully updated the defaultDimensions with the specified defaultDimensions_parentId, defaultDimensions_dimensionId",
						"schema": {
							"$ref": "#/definitions/defaultDimensions"
						}
					}
				}
			},
			"parameters": [
				{
					"in": "path",
					"name": "company_id",
					"description": "id for company",
					"required": true,
					"type": "string",
					"format": "uuid"
				},
				{
					"in": "path",
					"name": "vendor_id",
					"description": "id for vendor",
					"required": true,
					"type": "string",
					"format": "uuid"
				},
				{
					"in": "path",
					"name": "defaultDimensions_parentId",
					"description": "parentId for defaultDimensions",
					"required": true,
					"type": "string",
					"format": "uuid"
				},
				{
					"in": "path",
					"name": "defaultDimensions_dimensionId",
					"description": "dimensionId for defaultDimensions",
					"required": true,
					"type": "string",
					"format": "uuid"
				},
				{
					"in": "query",
					"name": "$expand",
					"type": "array",
					"items": {
						"enum": [
							"account",
							"dimension",
							"dimensionValue"
						],
						"type": "string"
					}
				},
				{
					"in": "query",
					"name": "$select",
					"type": "array",
					"items": {
						"enum": [
							"parentId",
							"dimensionId",
							"dimensionCode",
							"dimensionValueId",
							"dimensionValueCode",
							"postingValidation"
						],
						"type": "string"
					}
				}
			]
		},
		"/companies({company_id})/companyInformation": {
			"get": {
				"tags": [
					"companyInformation"
				],
				"summary": "Returns a list of companyInformation",
				"operationId": "getCompanyInformation",
				"produces": [
					"application/json"
				],
				"parameters": [
					{
						"$ref": "#/parameters/topParam"
					},
					{
						"$ref": "#/parameters/skipParam"
					},
					{
						"$ref": "#/parameters/limitParam"
					},
					{
						"$ref": "#/parameters/filterParam"
					},
					{
						"in": "query",
						"name": "$select",
						"type": "array",
						"items": {
							"enum": [
								"id",
								"displayName",
								"address",
								"phoneNumber",
								"faxNumber",
								"email",
								"website",
								"taxRegistrationNumber",
								"currencyCode",
								"currentFiscalYearStartDate",
								"industry",
								"picture",
								"lastModifiedDateTime"
							],
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Succesfully returned a list of companyInformation",
						"schema": {
							"type": "object",
							"properties": {
								"value": {
									"type": "array",
									"items": {
										"$ref": "#/definitions/companyInformation"
									}
								}
							}
						}
					}
				}
			},
			"parameters": [
				{
					"in": "path",
					"name": "company_id",
					"description": "id for company",
					"required": true,
					"type": "string",
					"format": "uuid"
				}
			]
		},
		"/companies({company_id})/companyInformation({companyInformation_id})": {
			"get": {
				"tags": [
					"companyInformation"
				],
				"summary": "Obtain information about the companyInformation from its unique companyInformation_id",
				"operationId": "getCompanyInformationById",
				"produces": [
					"application/json"
				],
				"responses": {
					"200": {
						"description": "Succesfully returned the requested companyInformation",
						"schema": {
							"$ref": "#/definitions/companyInformation"
						}
					}
				}
			},
			"patch": {
				"tags": [
					"companyInformation"
				],
				"summary": "Lets the user patch the specified companyInformation",
				"operationId": "patchCompanyInformationById",
				"consumes": [
					"application/json"
				],
				"produces": [
					"application/json"
				],
				"parameters": [
					{
						"$ref": "#/parameters/IfMatchParam"
					},
					{
						"in": "body",
						"name": "body",
						"required": true,
						"schema": {
							"properties": {
								"id": {
									"format": "uuid",
									"type": "string"
								},
								"displayName": {
									"maxLength": 100,
									"type": "string"
								},
								"address": {
									"$ref": "#/definitions/postaladdresstype"
								},
								"phoneNumber": {
									"maxLength": 30,
									"type": "string"
								},
								"faxNumber": {
									"maxLength": 30,
									"type": "string"
								},
								"email": {
									"maxLength": 80,
									"type": "string"
								},
								"website": {
									"maxLength": 80,
									"type": "string"
								},
								"taxRegistrationNumber": {
									"maxLength": 20,
									"type": "string"
								},
								"currencyCode": {
									"type": "string"
								},
								"currentFiscalYearStartDate": {
									"format": "date-time",
									"type": "string"
								},
								"industry": {
									"maxLength": 30,
									"type": "string"
								},
								"picture": {
									"format": "binary",
									"type": "string"
								},
								"lastModifiedDateTime": {
									"format": "date-time",
									"type": "string"
								}
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Succesfully updated the companyInformation with the specified companyInformation_id",
						"schema": {
							"$ref": "#/definitions/companyInformation"
						}
					}
				}
			},
			"parameters": [
				{
					"in": "path",
					"name": "company_id",
					"description": "id for company",
					"required": true,
					"type": "string",
					"format": "uuid"
				},
				{
					"in": "path",
					"name": "companyInformation_id",
					"description": "id for companyInformation",
					"required": true,
					"type": "string",
					"format": "uuid"
				},
				{
					"in": "query",
					"name": "$select",
					"type": "array",
					"items": {
						"enum": [
							"id",
							"displayName",
							"address",
							"phoneNumber",
							"faxNumber",
							"email",
							"website",
							"taxRegistrationNumber",
							"currencyCode",
							"currentFiscalYearStartDate",
							"industry",
							"picture",
							"lastModifiedDateTime"
						],
						"type": "string"
					}
				}
			]
		},
		"/companies({company_id})/salesInvoices": {
			"get": {
				"tags": [
					"salesInvoices"
				],
				"summary": "Returns a list of salesInvoices",
				"operationId": "getSalesInvoices",
				"produces": [
					"application/json"
				],
				"parameters": [
					{
						"$ref": "#/parameters/topParam"
					},
					{
						"$ref": "#/parameters/skipParam"
					},
					{
						"$ref": "#/parameters/limitParam"
					},
					{
						"$ref": "#/parameters/filterParam"
					},
					{
						"in": "query",
						"name": "$expand",
						"type": "array",
						"items": {
							"enum": [
								"salesInvoiceLines",
								"pdfDocument",
								"customer",
								"currency",
								"paymentTerm",
								"shipmentMethod"
							],
							"type": "string"
						}
					},
					{
						"in": "query",
						"name": "$select",
						"type": "array",
						"items": {
							"enum": [
								"id",
								"number",
								"externalDocumentNumber",
								"invoiceDate",
								"dueDate",
								"customerPurchaseOrderReference",
								"customerId",
								"contactId",
								"customerNumber",
								"customerName",
								"billToName",
								"billToCustomerId",
								"billToCustomerNumber",
								"shipToName",
								"shipToContact",
								"sellingPostalAddress",
								"billingPostalAddress",
								"shippingPostalAddress",
								"currencyId",
								"currencyCode",
								"orderId",
								"orderNumber",
								"paymentTermsId",
								"shipmentMethodId",
								"salesperson",
								"pricesIncludeTax",
								"discountAmount",
								"discountAppliedBeforeTax",
								"totalAmountExcludingTax",
								"totalTaxAmount",
								"totalAmountIncludingTax",
								"status",
								"lastModifiedDateTime",
								"phoneNumber",
								"email"
							],
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Succesfully returned a list of salesInvoices",
						"schema": {
							"type": "object",
							"properties": {
								"value": {
									"type": "array",
									"items": {
										"$ref": "#/definitions/salesInvoice"
									}
								}
							}
						}
					}
				}
			},
			"post": {
				"tags": [
					"salesInvoices"
				],
				"summary": "Lets a user post a new salesInvoice",
				"operationId": "postSalesInvoice",
				"consumes": [
					"application/json"
				],
				"produces": [
					"application/json"
				],
				"parameters": [
					{
						"in": "body",
						"name": "body",
						"required": true,
						"schema": {
							"properties": {
								"id": {
									"format": "uuid",
									"type": "string"
								},
								"number": {
									"maxLength": 20,
									"type": "string"
								},
								"externalDocumentNumber": {
									"maxLength": 35,
									"type": "string"
								},
								"invoiceDate": {
									"format": "date-time",
									"type": "string"
								},
								"dueDate": {
									"format": "date-time",
									"type": "string"
								},
								"customerPurchaseOrderReference": {
									"maxLength": 35,
									"type": "string"
								},
								"customerId": {
									"format": "uuid",
									"type": "string"
								},
								"contactId": {
									"maxLength": 250,
									"type": "string"
								},
								"customerNumber": {
									"maxLength": 20,
									"type": "string"
								},
								"customerName": {
									"maxLength": 100,
									"type": "string"
								},
								"billToName": {
									"maxLength": 100,
									"type": "string"
								},
								"billToCustomerId": {
									"format": "uuid",
									"type": "string"
								},
								"billToCustomerNumber": {
									"maxLength": 20,
									"type": "string"
								},
								"shipToName": {
									"maxLength": 100,
									"type": "string"
								},
								"shipToContact": {
									"maxLength": 100,
									"type": "string"
								},
								"sellingPostalAddress": {
									"$ref": "#/definitions/postaladdresstype"
								},
								"billingPostalAddress": {
									"$ref": "#/definitions/postaladdresstype"
								},
								"shippingPostalAddress": {
									"$ref": "#/definitions/postaladdresstype"
								},
								"currencyId": {
									"format": "uuid",
									"type": "string"
								},
								"currencyCode": {
									"type": "string"
								},
								"orderId": {
									"format": "uuid",
									"type": "string"
								},
								"orderNumber": {
									"maxLength": 20,
									"type": "string"
								},
								"paymentTermsId": {
									"format": "uuid",
									"type": "string"
								},
								"shipmentMethodId": {
									"format": "uuid",
									"type": "string"
								},
								"salesperson": {
									"maxLength": 20,
									"type": "string"
								},
								"pricesIncludeTax": {
									"type": "boolean"
								},
								"discountAmount": {
									"format": "decimal",
									"type": "number"
								},
								"discountAppliedBeforeTax": {
									"type": "boolean"
								},
								"totalAmountExcludingTax": {
									"format": "decimal",
									"type": "number"
								},
								"totalTaxAmount": {
									"format": "decimal",
									"type": "number"
								},
								"totalAmountIncludingTax": {
									"format": "decimal",
									"type": "number"
								},
								"status": {
									"type": "string"
								},
								"lastModifiedDateTime": {
									"format": "date-time",
									"type": "string"
								},
								"phoneNumber": {
									"maxLength": 30,
									"type": "string"
								},
								"email": {
									"maxLength": 80,
									"type": "string"
								}
							}
						}
					}
				],
				"responses": {
					"201": {
						"description": "salesInvoice succesfully created",
						"schema": {
							"$ref": "#/definitions/salesInvoice"
						}
					}
				}
			},
			"parameters": [
				{
					"in": "path",
					"name": "company_id",
					"description": "id for company",
					"required": true,
					"type": "string",
					"format": "uuid"
				}
			]
		},
		"/companies({company_id})/salesInvoices({salesInvoice_id})": {
			"get": {
				"tags": [
					"salesInvoices"
				],
				"summary": "Obtain information about the salesInvoice from its unique salesInvoice_id",
				"operationId": "getSalesInvoiceById",
				"produces": [
					"application/json"
				],
				"responses": {
					"200": {
						"description": "Succesfully returned the requested salesInvoice",
						"schema": {
							"$ref": "#/definitions/salesInvoice"
						}
					}
				}
			},
			"delete": {
				"tags": [
					"salesInvoices"
				],
				"summary": "Allows the user to delete the specified salesInvoice",
				"operationId": "deleteSalesInvoiceById",
				"responses": {
					"204": {
						"description": "Succesfully deleted the salesInvoice with the specified salesInvoice_id"
					}
				}
			},
			"patch": {
				"tags": [
					"salesInvoices"
				],
				"summary": "Lets the user patch the specified salesInvoice",
				"operationId": "patchSalesInvoiceById",
				"consumes": [
					"application/json"
				],
				"produces": [
					"application/json"
				],
				"parameters": [
					{
						"$ref": "#/parameters/IfMatchParam"
					},
					{
						"in": "body",
						"name": "body",
						"required": true,
						"schema": {
							"properties": {
								"id": {
									"format": "uuid",
									"type": "string"
								},
								"number": {
									"maxLength": 20,
									"type": "string"
								},
								"externalDocumentNumber": {
									"maxLength": 35,
									"type": "string"
								},
								"invoiceDate": {
									"format": "date-time",
									"type": "string"
								},
								"dueDate": {
									"format": "date-time",
									"type": "string"
								},
								"customerPurchaseOrderReference": {
									"maxLength": 35,
									"type": "string"
								},
								"customerId": {
									"format": "uuid",
									"type": "string"
								},
								"contactId": {
									"maxLength": 250,
									"type": "string"
								},
								"customerNumber": {
									"maxLength": 20,
									"type": "string"
								},
								"customerName": {
									"maxLength": 100,
									"type": "string"
								},
								"billToName": {
									"maxLength": 100,
									"type": "string"
								},
								"billToCustomerId": {
									"format": "uuid",
									"type": "string"
								},
								"billToCustomerNumber": {
									"maxLength": 20,
									"type": "string"
								},
								"shipToName": {
									"maxLength": 100,
									"type": "string"
								},
								"shipToContact": {
									"maxLength": 100,
									"type": "string"
								},
								"sellingPostalAddress": {
									"$ref": "#/definitions/postaladdresstype"
								},
								"billingPostalAddress": {
									"$ref": "#/definitions/postaladdresstype"
								},
								"shippingPostalAddress": {
									"$ref": "#/definitions/postaladdresstype"
								},
								"currencyId": {
									"format": "uuid",
									"type": "string"
								},
								"currencyCode": {
									"type": "string"
								},
								"orderId": {
									"format": "uuid",
									"type": "string"
								},
								"orderNumber": {
									"maxLength": 20,
									"type": "string"
								},
								"paymentTermsId": {
									"format": "uuid",
									"type": "string"
								},
								"shipmentMethodId": {
									"format": "uuid",
									"type": "string"
								},
								"salesperson": {
									"maxLength": 20,
									"type": "string"
								},
								"pricesIncludeTax": {
									"type": "boolean"
								},
								"discountAmount": {
									"format": "decimal",
									"type": "number"
								},
								"discountAppliedBeforeTax": {
									"type": "boolean"
								},
								"totalAmountExcludingTax": {
									"format": "decimal",
									"type": "number"
								},
								"totalTaxAmount": {
									"format": "decimal",
									"type": "number"
								},
								"totalAmountIncludingTax": {
									"format": "decimal",
									"type": "number"
								},
								"status": {
									"type": "string"
								},
								"lastModifiedDateTime": {
									"format": "date-time",
									"type": "string"
								},
								"phoneNumber": {
									"maxLength": 30,
									"type": "string"
								},
								"email": {
									"maxLength": 80,
									"type": "string"
								}
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Succesfully updated the salesInvoice with the specified salesInvoice_id",
						"schema": {
							"$ref": "#/definitions/salesInvoice"
						}
					}
				}
			},
			"parameters": [
				{
					"in": "path",
					"name": "company_id",
					"description": "id for company",
					"required": true,
					"type": "string",
					"format": "uuid"
				},
				{
					"in": "path",
					"name": "salesInvoice_id",
					"description": "id for salesInvoice",
					"required": true,
					"type": "string",
					"format": "uuid"
				},
				{
					"in": "query",
					"name": "$expand",
					"type": "array",
					"items": {
						"enum": [
							"salesInvoiceLines",
							"pdfDocument",
							"customer",
							"currency",
							"paymentTerm",
							"shipmentMethod"
						],
						"type": "string"
					}
				},
				{
					"in": "query",
					"name": "$select",
					"type": "array",
					"items": {
						"enum": [
							"id",
							"number",
							"externalDocumentNumber",
							"invoiceDate",
							"dueDate",
							"customerPurchaseOrderReference",
							"customerId",
							"contactId",
							"customerNumber",
							"customerName",
							"billToName",
							"billToCustomerId",
							"billToCustomerNumber",
							"shipToName",
							"shipToContact",
							"sellingPostalAddress",
							"billingPostalAddress",
							"shippingPostalAddress",
							"currencyId",
							"currencyCode",
							"orderId",
							"orderNumber",
							"paymentTermsId",
							"shipmentMethodId",
							"salesperson",
							"pricesIncludeTax",
							"discountAmount",
							"discountAppliedBeforeTax",
							"totalAmountExcludingTax",
							"totalTaxAmount",
							"totalAmountIncludingTax",
							"status",
							"lastModifiedDateTime",
							"phoneNumber",
							"email"
						],
						"type": "string"
					}
				}
			]
		},
		"/companies({company_id})/salesInvoices({salesInvoice_id})/Microsoft.NAV.cancelAndSend": {
			"post": {
				"tags": [
					"salesInvoices"
				],
				"summary": "Performs the cancelAndSend action for salesInvoices entity",
				"operationId": "CancelAndSendAction_SalesInvoices",
				"responses": {
					"204": {
						"description": "Succesfully perfpormed a cancelAndSend action on the salesInvoices entity"
					}
				}
			},
			"parameters": [
				{
					"in": "path",
					"name": "company_id",
					"description": "id for company",
					"required": true,
					"type": "string",
					"format": "uuid"
				},
				{
					"in": "path",
					"name": "salesInvoice_id",
					"description": "id for salesInvoice",
					"required": true,
					"type": "string",
					"format": "uuid"
				}
			]
		},
		"/companies({company_id})/salesInvoices({salesInvoice_id})/Microsoft.NAV.cancel": {
			"post": {
				"tags": [
					"salesInvoices"
				],
				"summary": "Performs the cancel action for salesInvoices entity",
				"operationId": "CancelAction_SalesInvoices",
				"responses": {
					"204": {
						"description": "Succesfully perfpormed a cancel action on the salesInvoices entity"
					}
				}
			},
			"parameters": [
				{
					"in": "path",
					"name": "company_id",
					"description": "id for company",
					"required": true,
					"type": "string",
					"format": "uuid"
				},
				{
					"in": "path",
					"name": "salesInvoice_id",
					"description": "id for salesInvoice",
					"required": true,
					"type": "string",
					"format": "uuid"
				}
			]
		},
		"/companies({company_id})/salesInvoices({salesInvoice_id})/Microsoft.NAV.postAndSend": {
			"post": {
				"tags": [
					"salesInvoices"
				],
				"summary": "Performs the postAndSend action for salesInvoices entity",
				"operationId": "PostAndSendAction_SalesInvoices",
				"responses": {
					"204": {
						"description": "Succesfully perfpormed a postAndSend action on the salesInvoices entity"
					}
				}
			},
			"parameters": [
				{
					"in": "path",
					"name": "company_id",
					"description": "id for company",
					"required": true,
					"type": "string",
					"format": "uuid"
				},
				{
					"in": "path",
					"name": "salesInvoice_id",
					"description": "id for salesInvoice",
					"required": true,
					"type": "string",
					"format": "uuid"
				}
			]
		},
		"/companies({company_id})/salesInvoices({salesInvoice_id})/Microsoft.NAV.post": {
			"post": {
				"tags": [
					"salesInvoices"
				],
				"summary": "Performs the post action for salesInvoices entity",
				"operationId": "PostAction_SalesInvoices",
				"responses": {
					"204": {
						"description": "Succesfully perfpormed a post action on the salesInvoices entity"
					}
				}
			},
			"parameters": [
				{
					"in": "path",
					"name": "company_id",
					"description": "id for company",
					"required": true,
					"type": "string",
					"format": "uuid"
				},
				{
					"in": "path",
					"name": "salesInvoice_id",
					"description": "id for salesInvoice",
					"required": true,
					"type": "string",
					"format": "uuid"
				}
			]
		},
		"/companies({company_id})/salesInvoices({salesInvoice_id})/Microsoft.NAV.send": {
			"post": {
				"tags": [
					"salesInvoices"
				],
				"summary": "Performs the send action for salesInvoices entity",
				"operationId": "SendAction_SalesInvoices",
				"responses": {
					"204": {
						"description": "Succesfully perfpormed a send action on the salesInvoices entity"
					}
				}
			},
			"parameters": [
				{
					"in": "path",
					"name": "company_id",
					"description": "id for company",
					"required": true,
					"type": "string",
					"format": "uuid"
				},
				{
					"in": "path",
					"name": "salesInvoice_id",
					"description": "id for salesInvoice",
					"required": true,
					"type": "string",
					"format": "uuid"
				}
			]
		},
		"/companies({company_id})/salesInvoices({salesInvoice_id})/salesInvoiceLines": {
			"get": {
				"tags": [
					"salesInvoiceLines"
				],
				"summary": "Returns a list of salesInvoiceLines",
				"operationId": "getSalesInvoiceLinesForSalesInvoice",
				"produces": [
					"application/json"
				],
				"parameters": [
					{
						"$ref": "#/parameters/topParam"
					},
					{
						"$ref": "#/parameters/skipParam"
					},
					{
						"$ref": "#/parameters/limitParam"
					},
					{
						"$ref": "#/parameters/filterParam"
					},
					{
						"in": "query",
						"name": "$expand",
						"type": "array",
						"items": {
							"enum": [
								"item",
								"account"
							],
							"type": "string"
						}
					},
					{
						"in": "query",
						"name": "$select",
						"type": "array",
						"items": {
							"enum": [
								"id",
								"documentId",
								"sequence",
								"itemId",
								"accountId",
								"lineType",
								"lineDetails",
								"description",
								"unitOfMeasureId",
								"unitOfMeasure",
								"unitPrice",
								"quantity",
								"discountAmount",
								"discountPercent",
								"discountAppliedBeforeTax",
								"amountExcludingTax",
								"taxCode",
								"taxPercent",
								"totalTaxAmount",
								"amountIncludingTax",
								"invoiceDiscountAllocation",
								"netAmount",
[...]
